:root {
  --header-height: 100vh;
  --footer-height: 6vh;
  --header-flex-direction: column;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* body's background color is changed to grey in app.js after first search*/
body {
  min-height: 100%;
  max-width: 100%;
  color: #fff;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  display: table;
  margin: 0;
}

footer {
  background-color: #000000;
  width: 100%;
  height: var(--footer-height);
  z-index: 1;
  text-align: center;
}

body > footer {
  display: table-footer-group;
}

.title-input,
textarea {
  text-align: center;
  padding: 20px;
  display: block;
  border-width: 1.2px;
  border-radius: 15px;
  font-size: 25px;
  width: 500px;
  border-width: thin;
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #fff;
  opacity: 0.5;
  border: none;
}

.title-input {
  font-size: 35px;
}

.flex {
  margin: 0;
  display: flex;
  font-size: 20px;
}

#content {
  text-align: center;
}

#message-content,
#song-content,
#translation-content {
  display: grid;
}

/* header's visibility is set to visible in app.js after first search */
header {
  background-color: #000000;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  border-color: #000000;
  border-style: ridge;
  border-width: 1px;
}

#header-content {
  display: flex;
  flex-direction: var(--header-flex-direction);
  height: var(--header-height);
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#header-content-left {
  width: 30vw;
  padding-top: 1%;
  padding-bottom: 2%;
}

#header-content-middle {
  width: 40vw;
}

#header-content-right {
  width: 30vw;
}

#website-name {
  align-items: center;
}

#website-name-subtext {
  padding-top: 7.5px;
  margin: 0;
}

#top-buttons {
  display: flex;
}

#top-button-separator {
  width: calc(100vw - 3vw - 3vw - 3vw - 3vw);
  height: fit-content;
}

#top-left-button {
  padding-top: 2vw;
  padding-left: 3vw;
  justify-self: left;
  width: 3vw;
  height: 3vw;
}

#top-right-button {
  padding-top: 2vw;
  padding-right: 3vw;
  justify-self: right;
  width: 3vw;
  height: 3vw;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#magnifying-glass {
  height: calc(0.03 * 100vh);
  margin-right: calc(-1 * (0.03 * 100vh + 2.5% + 2%));
  padding-left: 2.5%;
  padding-right: 2%;
}

#searchbar {
  /* text-align: center; */
  background-color: transparent;
  color: #fff;
  border-style: ridge;
  border-radius: 50px;
  border-width: 1.5px;
  border-color: #fff;
  /* display: block; */
  font-size: 20px;
  width: 100%;
  height: calc(0.05 * 100vh);
  padding-left: calc(0.03 * 100vh + 2.5% + 2% - 0.5%);
  padding-right: calc(0.025 * 100vh);
}

#display-song-title,
#error-message,
#loading {
  font-size: 50px;
}

#display-song-title {
  margin-top: 0;
  margin-bottom: 60px;
}

#display-artist-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 45px;
}

#display-song-content {
  max-width: 100vw;
  margin: 0;
  text-align: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#display-message-text,
#translated-area {
  grid-column: 1;
  grid-row: 2;
}

#display-message-text {
  padding: 0;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - 5vw);
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
}

#korean-version,
#english-version {
  max-width: 50vw;
}

#english-title,
#korean-title {
  padding-bottom: 20px;
}

#display-song-image {
  padding-top: 2.5vh;
  padding-bottom: 7vh;
}

#song-info {
  text-align: center;
  justify-content: center;
  padding-bottom: 8vh;
}

.splitter {
  width: 7.5vw;
  height: 5vh;
  align-self: center;
}

#display-translation-area {
  width: 100vw;
}

#user-translated {
  height: fit-content;
  width: 100%;
}

.half-screen-width {
  width: 50vw;
}

#translated-lyrics {
  background-color: transparent;
  color: #fff;
  border-style: ridge;
  border-radius: 25px;
  border-width: 1.5px;
  border-color: #fff;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: calc(80% - 40px);
}

#original-lyrics {
  font-size: 20px;
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#original-title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 2.5vh;
}

#original-artist-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5vh;
}

#page-container {
  position: relative;
}

#embedded-spotify-player {
  min-width: 500px;
  max-width: 800px;
}

#embedded-spotify-player-div {
  display: flex;
  justify-content: center;
}

#display-front-page {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  padding-top: 7vh;
  padding-bottom: 7vh;
  height: calc(100vh - var(--header-height) - (7vh * 2));
}
/* GOOD */

.front-page-image {
  width: calc(0.25 * (100vw - (4vw * 3) - (7.5vw * 2)));
  height: calc(0.4 * (100vh - var(--header-height) - (7vh * 2) - 5vh));
  object-fit: cover;
}
/* GOOD */

.front-page-image-description {
  width: calc(0.25 * (100vw - (4vw * 3) - (7.5vw * 2)));
  height: calc(0.1 * (100vh - var(--header-height) - (7vh * 2) - 5vh));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.front-page-song-title {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.front-page-song-artist {
  margin: 0;
  padding-top: 5px;
  font-size: 20px;
}

#front-page-row-separator {
  height: 5vh;
}

.front-page-song-separator {
  width: 4vw;
}

.front-page-row {
  display: flex;
  flex-direction: row;
}

#add-translation {
  padding-top: 50px;
}
