<div class="display-front-page-song" style="{{style}}">
    <input
    type="image"
    id="result-{{number}}"
    class="front-page-image"
    src="{{imageUrl}}"
    alt=""
    />
    <div class="front-page-image-description">
    <p id="front-page-song-title-{{number}}" class="front-page-song-title">
        {{songTitle}}
    </p>
    <h4
        id="front-page-song-artist-1"
        class="front-page-song-artist"
    >
        {{songArtist}}
    </h4>
    </div>
</div>

